.card {
  background-color: #FFBA08;
  height: 20rem;
  margin: 1rem;
  width: 18rem;
}

.card-img-top {
  height: 12rem;
  margin-bottom: 10px;
}

.card-header {
  background-color: #FFBA08;
  border: none;
}