@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
  font-family: 'Architects Daughter', 'cursive';
}

body {
  padding: 60px;
}

.grid {
  display: grid;
}